// home.component.scss

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  // Centraliza verticalmente (mantenha ou ajuste conforme necessário)
    align-items: center;         // Centraliza horizontalmente
    max-width: 1366px;           // Limita a largura máxima
    width: 100%;                 // Garante que o container ocupe toda a largura disponível
    margin: 0 auto;              // Centraliza o container horizontalmente
    padding: 0 10px;             // Adiciona algum espaço nas laterais, caso necessário
    box-sizing: border-box;      // Certifique-se de que o padding não afete a largura total
    overflow: hidden;            // Para que o conteúdo não ultrapasse o limite da tela
}
  
  app-dashboard {
    width: 100%; 
    max-width: 1366px;                // Garante que o app-dashboard ocupe toda a largura do container
    overflow: auto;              // Permite que o conteúdo do dashboard role, se necessário
  }
  
  app-personagens-tabela {
    width: 100%;                 // Garante que o app-personagens-tabela ocupe toda a largura do container
    overflow: auto;              // Permite que o conteúdo da tabela de personagens role, se semiclassical
  }
  
  .container-tabelas-1 {
    display: flex;                // Alinha as tabelas lado a lado
    justify-content: center;      // Centraliza as tabelas no container
    align-items: flex-start;      // Alinha as tabelas no topo
    gap: 20px;                    // Espaço entre as tabelas
    width: 100%;                  // O container ocupa 100% da largura
    padding: 10px;                // Adiciona um espaçamento interno no container
    box-sizing: border-box;       // Garante que o padding seja incluído no tamanho total
  }

  app-itens-tabela {
    width: 50%;                 // Garante que o app-itens-tabela ocupe toda a largura do container
    overflow: auto;              // Permite que o conteúdo da tabela de itens role, se necessário
  }

  app-wave-tabela {
    width: 50%;                 // Garante que o app-wave-tabela ocupe toda a largura do container
  }